<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app appName="StoryKu"></nav-app>
    </header>
    <main class="container py-5">
        
      <form action="" method="POST">

      </form>
    </main>
    <footer>
      <div class="main-footer">
        <div class="container px-3 py-4"><footer-app></footer-app></div>
      </div>
    </footer>
  </body>
</html>
