<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app appName="StoryKu"></nav-app>
    </header>
    <main class="container py-5">
      <img src="../public/images/bg.png" alt="" />
      <h1 class="text-danger">Dashboard</h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-2">
            <div class="card-body d-flex flex-column">
              <h2 class="card-title">Total Story</h2>
              <div class="d-flex justify-content-between mt-2">
                <button-item
                  classList="btn btn-success fw-bold"
                  link="./add.html"
                  label="Add Story"
                ></button-item>
                <p class="card-text fw-bold fs-4" id="totalStories">100</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <h2 class="text-danger">List Story</h2>
          </div>
          <div class="row" id="storiesContainer"></div>
          <spinner-component
            id="spinnerLoading"
            class="active"
          ></spinner-component>
        </div>
      </div>
    </main>
    <footer>
      <div class="main-footer">
        <div class="container px-3 py-4"><footer-app></footer-app></div>
      </div>
    </footer>

    <modal-detail
      title="Story Detail"
      id="storyDetailModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
      class="modal fade"
    ></modal-detail>
  </body>
</html>
